.title {
  font-family: 'Karla';
  font-weight: 800;
}

.marginleft {
  margin-left: 200px;
}
.marginright {
  margin-right: 75px;
}

.introduction {
  font-family: 'Karla';
  font-weight: 800;
  font-size: 25px;
}
.leftpane {
  width: 25%;
  float: left;
}
.middlepane {
  width: 50%;
  float: right;
}
.rightpane {
  width: 25%;
  float: right;
}
.aboutme {
  font-family: 'Karla';
  font-size: 15px;
  line-height: 1.5;
}

.frontpic {
  float: right;
}

.navigation {
  font-family: 'Karla';
  float: left;
}

.nobullet {
  list-style-type: none;
}
a:hover,a:visited,a:link,a:active { color:#000; }
